div .bg{
    background-image: url(../assets//home/home1.jpg);
    background-size: cover;
    overflow: hidden;
    animation: change 10s infinite ease-in-out;
    max-height: 750px;
}

@keyframes change{
    0%{
        background-image: url(../assets//home/home1.jpg);
    }
    50%{
        background-image: url(../assets//home/home2.jpg);
    }
    100%{
        background-image: url(../assets//home/home3.jpg);
    }
}